WORKER=COMPUTER1
WALLETBTC=19EorZWtFdohMbCXeCWcZKWd6BXw6dmKzJ
WALLETBTG=GcbUS89YRPfYUH4HTr148JpGdf7aCDAVBp
WALLETCREA=CbV3dH6G5pnXfmhTs6qCwMWrdX2gcQYkwD
WALLETDCR=DsmE29nk2izXmXGNF85FC6exemfNC6nbF4J
WALLETETH=22afd16d6ddd02314a06a40af40375da62a4d1b1
WALLETGRS=Fsm1gjT4gj3kvzDUpmP6cy7TbDSw3Pccg1
WALLETKMD=RShqmdBuisGJtmD1NoCfEB7vbca9FBa1fR
WALLETLBC=bK58XaY55qxCMhSN4zYtEEGc4fxzB6tPQM
WALLETSC=9baed4d1605aab23de54db3b9b60b59c8506e2160a980b2799fbb0d8a0a9824eb253260992ec
WALLETVTC=Vio45jo1k6xj2uXmDV8M8VwPmrZex1RmN2
WALLETXMR=4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbS5Nw3eZBC6DQVnHifi
WALLETXVG=D5HCLnKmBRPnDT3JMUxt1cb8dJbk7VWski
WALLETZEC=t1KMk9x2TzZdnFY3Vmk5i31gPtSwueYk1cZ
WALLETZEN=znjZX7HWzHJ51k3xuy7ifyb93pCtHJBBf7y
POWERLIMIT=115
TEMPLIMIT=75
PERSISTANTMODE=1
SUPRUSER=kryztoval
SUPRPASS=dLkQcStUJ52GZ76ET2gb
VERTPOOLUSER=criesca
VERTPOOLPASS=3E5JVG5eHDutSSw9
TBFUSER=criesca
MPHUSER=criesca
WALLETUBQ
WALLETGBX
WALLETELLA
WALLETPIRL
