WORKER=GPURIG
WALLETBTC=36NyGPPuzSpfsdbpJYHWfEFuoDPEzKHXRj

WALLETBTG
WALLETCREA
WALLETDCR
WALLETETH=0x290c53443da4fc9eb54c46c3270f78ec29b35f42
WALLETGRS
WALLETKMD
WALLETLBC
WALLETMUSIC=0x67e6839c29dd5d9b1dc3faf19b79b443ac38f4a6
POWERLIMIT=115
TEMPLIMIT=75
PERSISTANTMODE=1
SUPRUSER=yobobrox
SUPRPASS=3E5JVG5eHDutSSw9
WALLETUBQ
WALLETGBX
WALLETELLA=0x4d858126ac1f36cbf154a3c6fe263c281032ac4f
WALLETPIRL=0x313c8d87468b46493db8c6acedaac8face7d5c55
